{% extends "blog/base.html" %}


{% block content %}

<!-- 
    This feature lets users know if they email reset was sent to their email
    This is a useful feature so users don't expect an email to come that was never sent
    But it also allows malicious actors to brute force find users emails they are using
-->
{% if user.is_authenticated %}
    <div class='alert alert-info'>
        If that is the account email, a link has been sent to reset your password! 
    </div>
{% else %}
    <div class='alert alert-danger'>
        You must sign in first
    </div>
    <a class='btn btn-info bt-4' href='{% url "login" %}'>Sign in here</a>
{% endif %}

{% endblock content %}